/* Faq Css Start */
.responsive-padding-40-150 {
    padding-inline-start: clamp(2rem, -27.4754rem + 39.3333vw, 9.375rem) !important;
    padding-inline-end: clamp(2rem, -27.4754rem + 39.3333vw, 9.375rem) !important;
    padding-block-start: 40px !important;
    padding-block-end: 40px !important;
}
/* Faq Css End */