.avatar-xl {
  width: rem(44px);
  height: rem(44px);
}

.avatar-lg {
  width: rem(40px);
  height: rem(40px);
}

.avatar-md {
  width: rem(32px);
  height: rem(32px);
}

.avatar-sm {
  width: rem(24px);
  height: rem(24px);
}

